.tasklist {
    &.not-done {
    li.ui-state-default {
      &.completed {
        display: none;
      }
    }
  }
  &.done {
    li.ui-state-default {
      display: none;
      &.completed {
        display: block;
        input {
          text-decoration: line-through;
        }
      }
    }
  }
}
